[Unit]
Description=Executa limpeza de sessões enviadas do Photo Uploader

[Timer]
OnBootSec=5min
OnUnitActiveSec=15min
Unit=photo-cleanup-sent.service

[Install]
WantedBy=timers.target
